/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --heading-color: var(--bg-color);
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --shadow-color: var(--accent-color);
  --decor-color: var(--accent-color);
  --visibility: block;
  --border-color: rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --heading-color: var(--bg-color);
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --shadow-color: var(--accent-color);
    --decor-color: var(--accent-color);
    --visibility: block;
    --border-color: rgba(255, 0, 112, 0.4);
  }
}

/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
