/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-inline-size: 375px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
a {
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a:focus,
a:focus-visible,
button:focus,
button:focus-visible {
  outline: none;
}
