/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --heading-color: #353430;
  --text-color: var(--heading-color);
  --title-color: #ffc2e6;
  --shadow-color: var(--accent-color);
  --decor-color: var(--heading-color);
}

@media (prefers-color-scheme: light) {
  :root,
  .theme_auto {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --heading-color: #353430;
    --text-color: var(--heading-color);
    --title-color: #ffc2e6;
    --shadow-color: var(--accent-color);
    --decor-color: var(--heading-color);
  }

  .theme_auto .decorated-element {
    display: none;
  }

  .theme_auto .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

}

@media (min-width: 1024px) {
  .header__title,
  .footer__title {
    --shadow-color: #ff0070;
  }
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.theme_light .decorated-element {
  display: none;
}
